* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: sans-serif;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 600px) {
    padding-inline: 20px;
  }
}
.inputBox {
  padding-block: 100px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 35px;
    padding-block: 15px;
  }
}
.link {
  color: white;
}

.cards {
  padding-block: 100px;
  .cardBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
